@import "./themes/catppuccin-mocha.css";

/* Global */
* {
  font-family: Jetbrains Mono;
  font-size: 1rem;
  border-radius: 0.5rem;
  background-color: @base;
}

@keyframes blink {
  to {
    color: @base;
  }
}

.warning, .critical, .urgent {
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#mode, #clock, #memory, #cpu,
#pulseaudio, #network,
#battery, #tray, #disk, #bluetooth {
  padding-left: .6rem;
  padding-right: .6rem;
}

/* Bar */
window#waybar {
  background-color: transparent;
}

window > box {
  background-color: transparent;
  margin: .6rem;
  margin-bottom: .5rem;
}


/* Workspaces */
#workspaces:hover {
  background-color: @green;
}

#workspaces button {
  padding-right: .4rem;
  padding-left: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  color: @overlay1;
  /* border: .2px solid transparent; */
  background: transparent;
}

#workspaces button.active {
  color: @yellow;
}

#workspaces button:hover {
  /* border: .2px solid transparent; */
  color: @subtext0;
}

/* Tooltip */
tooltip {
  background-color: @base;
  border-width: 3px;
  border-style: solid;
  border-color: #7DCFFF;
}

tooltip label {
  color: @text;
}


/* Extra */
#memory {
  color: @red;
}
#cpu {
  color: @peach;
}
#clock {
  color: @text;
  padding-left: 0;
}

#custom-clock-icon {
  color: @yellow;
  padding-left: 0.6rem;
  padding-right: 0.5rem;
  margin-right: 0;
}
#temperature {
  color: @blue;
}
#pulseaudio {
  color: @green;
}
#network {
  color: @mauve;
}
#network.disconnected {
  color: @foreground;  /* not active */
}
#disk {
  color: @flamingo;
}
#bluetooth {
  color: @blue;
}
